services:
  postgres:
    image: 'postgres:latest'
    environment:
      POSTGRES_DB: registration
      POSTGRES_USER: test
      POSTGRES_PASSWORD: secret
    ports:
      - '5432:5432'
    restart: always
    volumes:
      - pgdata:/var/lib/postgresql/data
volumes:
  pgdata: