services:
  app:
    image: 'postgres-springboot-app:latest'
    build:
      context: .
      dockerfile: Dockerfile
    container_name: app
    depends_on:
      postgresqldb:
        condition: service_healthy
      redis:
        condition: service_healthy
    ports:
      - "8080:8080"
      - "5005:5005"
    environment:
      JAVA_TOOL_OPTIONS: "-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=*:5005"
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgresqldb:5432/pgdemo
      SPRING_DATASOURCE_USERNAME: postgres
      SPRING_DATASOURCE_PASSWORD: postgres
      SPRING_JPA_HIBERNATE_DDL_AUTO: update
      SPRING_REDIS_HOST: redis
      SPRING_REDIS_PORT: 6379
      SPRING_REDIS_PASSWORD: redis_password
      SPRING_REDIS_SSL: false
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://localhost:8080/actuator/health" ]
      interval: 10s
      timeout: 5s
      retries: 5

  postgresqldb:
    image: 'postgres:13.1-alpine'
    container_name: postgresqldb
    ports:
      - "5432:5432"
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: pgdemo
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/01-init.sql
      - ./init-data.sql:/docker-entrypoint-initdb.d/02-init-data.sql
    expose:
      - "5432"
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "postgres" ]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: 'redis:7.0-alpine'
    container_name: redis
    restart: always
    ports:
      - "6379:6379"
    command: redis-server --requirepass redis_password --bind 0.0.0.0
    volumes:
      - redis-data:/data
    expose:
      - "6379"
    networks:
      - app-network
    healthcheck:
      test: [ "CMD", "redis-cli","-a", "redis_password", "ping" ]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  app-network:

volumes:
  redis-data: