services:
  springboot-app:
    image: springboot-app:latest
    container_name: springboot-app
    build:
      context: ..
    ports:
      - "8080:8080"
    depends_on:
      - postgres-db
    networks:
      - app-network

  postgres-db:
    image: postgres:14
    container_name: postgres-db
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: apppassword
      POSTGRES_DB: appdb
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - app-network

networks:
  app-network:
    driver: bridge

volumes:
  postgres_data:
